.taskReport__section,.taskReport__header {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

.taskReport__header > h2 {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.taskReport__section:last-child {
    margin-bottom: 20px;
}

.taskReport__section:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.taskReport__section > p {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.taskReport__colOne {
    flex: 0.8;
}

.taskReport__colTwo, .taskReport__colThree {
    flex: 0.1;
}

.taskReport__section > .MuiSvgIcon-root {
    font-size: 22px;
}

